<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userLogin</title>
    <link rel="stylesheet" href="/css/userLogin.css">
</head>

<body>
<div class="box">
    <h2>欢迎</h2>
    <form action="">
        <div class="inputBox">
            <input type="text" name="userUsername" required="" id="userUsername">
            <label for="userUsername">Username</label>
        </div>
        <div class="inputBox">
            <input type="password" name="userPassword" required="" id="userPassword">
            <label for="userPassword">Password</label>
        </div>
        <input type="submit" value="登录">
    </form>
    <button class="registered">注册</button>
</div>
</body>

</html>